@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pattaya', sans-serif;
}

body {
    background-image: url(back.jpg);
    /*background-color: rgb(78, 78, 213);*/
}

h1 {
    text-align: center;
    color: black;
    margin-top: 3.5%;
    font-size: 60px;
}

.container {
    width: 500px;
    background-color: #D3D3D3;
    padding: 40px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 25px;
}

.input_box {
    width: 70%;
    margin-left: 12px;
    margin-bottom: 42px;
}

label {
    font-size: 30px;
    font-weight: 600;
    border: 2px dashed #e9e5e5;
    border-radius: 3px;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 9px;
    border: 2px solid #d2d2d2;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
    font-size: 30px;
}

input:focus {
    border: 2px solid black;
    background-color: #d2d2d2;
}
